PORT=3000

DB_USER=postgres
DB_PASSWORD=password_postgres_anda
DB_HOST=localhost
DB_PORT=5432
DB_NAME=netapp_db

JWT_SECRET=change_me_to_a_long_random_secret

MIKROTIK_HOST=192.168.88.1
MIKROTIK_USER=admin
MIKROTIK_PASS=
MIKROTIK_PORT=8728
MIKROTIK_WAN_IFACE=ether1
MIKROTIK_WRITE_ENABLED=false

ENABLE_BILLING_CRON=false

TRIPAY_MODE=SANDBOX
TRIPAY_API_KEY=
TRIPAY_PRIVATE_KEY=
TRIPAY_MERCHANT_CODE=

FRONTEND_URL=http://localhost:5173
