@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #F9FAFB;
  --color-surface: #FFFFFF;
  --color-primary: #2563EB;
  --color-primary-hover: #1D4ED8;
  --color-text: #111827;
  --color-muted: #6B7280;
  --color-border: #E5E7EB;
  
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}

@media print {
  @page {
    margin: 0; /* Menghilangkan URL dan header/footer default browser */
  }
  
  body {
    padding: 2cm; /* Memberikan jarak sedikit agar hasil print tidak terlalu mepet ke ujung kertas */
  }
}
